@page "/"

<link rel="stylesheet" href="css/fileUpload.css">
<PageTitle>File Upload</PageTitle>

<div class="fileupload-container">
    
    <MudText Typo="Typo.h2">Welcome to Inflow</MudText>
    
    <div>
        <MudFileUpload T="IBrowserFile" OnFilesChanged="FileUploaded" Accept=".csv">
            <ActivatorContent>
                <MudButton id="fileupload-button" Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.CloudUpload">
                    Upload Your CSV
                </MudButton>
            </ActivatorContent>
        </MudFileUpload>
    </div>
    <br/>
    @if (showLoaderSpinner)
    {
        <span class="loader"></span>
    }
</div>



@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>Error: @ErrorMessage</div>
}
