@page "/"
<link rel="stylesheet" href="css/home.css">


<PageTitle>Home</PageTitle>
<h1>Welcome</h1>

<section class="main">
    <MudGrid>
        <MudPaper>
            <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350" ></MudChart>
        </MudPaper>
        <MudPaper>
            <h2>Warning Flags</h2>
        </MudPaper>
        <MudPaper>
            <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350" ChartOptions="options" ></MudChart>
        </MudPaper>

    </MudGrid>
</section>