@page "/"
<link rel="stylesheet" href="css/home.css">


<PageTitle>Home</PageTitle>
<h1>Welcome</h1>

<section class="main">
    <div class="grid-container">
        <div class="grid-item">
            <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" XAxisLabels="@ScanActivations_x" Width="100%"></MudChart>
        </div>
        <div class="grid-item">
            <h2>Warning Flags</h2>
        </div>
        <div class="grid-item">
            <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@ScanActivations_x" Width="100%" Height="350" ChartOptions="options"></MudChart>
        </div>
    </div>
</section>