@page "/Map"
<link rel="stylesheet" href="css/map.css"/>
<h3>Map</h3>
<div class="page-container">
    <div class="map-container">
        <MudImage Class="map-image" Src="img/facility.png"></MudImage>
    </div>
</div>
@code {
    
}