@page "/Warnings"
<h3>Warnings</h3>

<div class="warnings-container">
    <div class="warning-item">
        <!-- MudTable for warnings -->
    </div>
    <div class="warning-item">
        <!--Section for filters of  warnings that are togglable-->
    </div>
</div>