@using OGEInflow.Services
<link rel="stylesheet" href="css/panel.css">
<div class="icon-container" style="top: @Top; left: @Left;">
    <div class="panel @Class" style="--panel-color:@ComputedPanelColor" @onclick="OnClick"></div>
    <div class="label">@Label</div>
</div>