@using OGEInflow.Services
<link rel="stylesheet" href="css/pin.css">
<div class="icon-container" style="top: @Top; left: @Left;">
    <div class="pin @Class" style="--pin-color:@ComputedPinColor" @onclick="OnClick"></div>
    <div class="label">@Label</div>
</div>