/*Pin CSS */
:root {
    --panel-width: 40px;
    --panel-height: 60px;
    --panel-color: rgb(0,0,0);  
}

.panel-container {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel-container .label {
    position: absolute;
    top: calc(var(--panel-height) * .3);
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    z-index: 2;
}

.panel {
    position: relative;
    width: var(--panel-width);   /* New variable or replace with fixed px/em/rem value */
    height: var(--panel-height); /* New variable or replace with fixed px/em/rem value */
    background: var(--panel-color);
    border-radius: 8px; /* Optional: soften edges slightly; remove for sharp corners */
    margin-bottom: calc(var(--panel-height) / 2); /* Adjusted for rectangle height */
}
