.pin-container {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pin-container .label {
    position: absolute;
    top: calc(var(--pin-size) * .3);
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 8px;
    z-index: 2;
}

/*Pin CSS */
:root {
    --pin-size: 40px;               /* diameter of the circle */
    --pin-color: rgb(0,0,0);    /* pin color */
}

.pin {
    position: relative;
    width: var(--pin-size);
    height: var(--pin-size);
    background: var(--pin-color);
    border-radius: 50% 50% 50% 50%;
    /* pull the tip underneath */
    margin-bottom: calc(var(--pin-size) / 2);
    
}

/* the pointed tail */
.pin::after {
    content: '';
    position: absolute;
    bottom: calc(-1 * var(--pin-size) / 2);
    left: 0;
    width: 0;
    height: 0;
    border-left: calc(var(--pin-size) / 2) solid transparent;
    border-right: calc(var(--pin-size) / 2) solid transparent;
    border-top: calc(var(--pin-size) / 1.08) solid var(--pin-color);
}


/*Reader Pin */
.pin.reader-pin {
    background: rgb(42, 121, 19);
}

.pin.reader-pin::after {
    /*--pin-color: rgb(42, 121, 19);*/
    border-top: calc(var(--pin-size) / 1.08) solid rgb(42, 121, 19);
}